body{
    background-color: #6aa3b4;
}

h1, h2, th{
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers th, #customers td{
    border: 1px solid #0c181c;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #00c6ab;}

#customers tr:hover {background-color: #3f8880;}

#customers th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #20c67a;
    color: #D81B60;
    font-size: 150%;
}
